.left_menu a {overflow: hidden; width: 100%; padding: 20px 20px 0 20px;
    border-radius: 3px solid #333; position: relative; margin-top: 20px; 
}

#logo {font-family: "Roboto", sans-serif; font-weight: 700;
    font-size: 50px;  text-align: center;
    padding: 20px 0; position: absolute; margin: auto; margin-top: 20px;
}

ul {
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
li { 
    display: inline;
    float: left; margin: auto;  width: 23%; /* 메뉴바 중간*/ padding-top: 100px;
    
}
li a {
    text-align: center; display:inline-block;  
    /* text-decoration:burlywood; font-size: 24px;*/
    text-decoration: none; 
    color: #333; padding: 0 15px; display: inline-block;
}
li a span {display: block;}

li a:hover {background-color:beige; text-decoration: none;}
/* .main_menu ul li {
    float:left;  width: 20%; height: 50px; line-height: 50px; text-align: center; background-color: #98e0ad;
} */

.header_top b {color: #fff; text-align: center; line-height: 42px;}
img {
    overflow: hidden; margin: 0 auto; object-fit: cover; padding-top: 5px;
}
.header_top .container {position: absolute; right: 0; top: 0;}