<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.CarAccident.mapper.CarAccidentMapper">
    <insert id="insertCarAccidentInfo">
        INSERT INTO accident_info
            (
                slightly, injured, death, gender, age, seriously
            )
        VALUES
            (
                #{slightly}, #{injured}, #{death}, #{gender}, #{age}, #{seriously}
            ) 
            
    </insert>

    <insert id="insertRegionalInfo">
        INSERT INTO accident_regional
            (
                region_slightly, region_month, region_injured, region_acc_cnt, region_death, region_sigungu, region_sido, region_seriously
            )
        VALUES
            (
                #{region_slightly}, #{region_month}, #{region_injured}, #{region_acc_cnt}, #{region_death}, #{region_sigungu}, #{region_sido}, #{region_seriously}    
            )

    </insert>
    <insert id="inserttemperatureInfo">
    INSERT INTO temperature
    (
        rainfall, wind, temp, tm
    )
    VALUES(
         #{rainfall}, #{wind}, #{temp}, #{tm}
    )

    </insert>
</mapper>