<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.CarAccident.mapper.CarAccidentMapper">
    <select id="selectCarAccidentInfo" resultType="com.CarAccident.vo.CarAccidentVO">
        INSERT INTO accident_info
            (
                slightly, injured, death, gender, age, seriously
            )
        VALUES
            (
                #{slightly}, #{injured}, #{death}, #{gender}, #{age}, #{seriously}
            ) 
            
    </select>

    <select id="selectRegionalInfo" resultType="com.CarAccident.vo.RegionalInfoVO">
        INSERT INTO accident_regional
            (
                region_slightly, region_month, region_injured, region_acc_cnt, region_death, region_sigungu, region_sido, region_seriously
            )
        VALUES
            (
                #{region_slightly}, #{region_month}, #{region_injured}, #{region_acc_cnt}, #{region_death}, #{region_sigungu}, #{region_sido}, #{region_seriously}    
            )

    </select>

    <select id="selectTrafficVolumeInfo" resultType="com.CarAccident.vo.TrafficVolumeVO">
        INSERT INTO traffic_volume
            (
                tcsName, trafficAmout, sumTime
            )
        VALUES
            (
                #{tcsName}, #{trafficAmout}, #{sumTime}
            )
    </select>

</mapper>