<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.CarAccident.mapper.CarRegionalMapper">
     <select id="selectSidoInfo" resultType="com.CarAccident.vo.RegionalInfoVO">
        select region_sido, 
            sum(region_slightly) as region_slightly,
            sum(region_injured) as region_injured,
            sum(region_death) as region_death,
            sum(region_seriously) as region_seriously
        from accident_regional
        group by region_sido;
    </select>
    <insert id="insertRealTrafficInfo">
        INSERT INTO real_traffic
        (
            start_hour, routeName, traffic_volume, shareRatio, conzoneName, stdDate, speed, timeAvg
        )
        VALUES
        (
            #{start_hour}, #{routeName}, #{traffic_volume}, #{shareRatio}, #{conzoneName}, #{stdDate}, #{speed}, #{timeAvg}
        )
    </insert>
    <select id="selectRealTrafficInfo" resultType="com.CarAccident.vo.RealTrafficVO">
        select routeName,
        #{start_hour}, #{conzoneName}, #{traffic_volume}
        from real_traffic
        where date_format(stdDate , "%Y-%m-%d") >= str_to_date(#{date},"%Y-%m-%d")

    </select>
    <insert id="insertCarSection">
        INSERT INTO section_understruction
        (
            roadtype, event_type, eventDetailType, startDt, roadname, roadDrcType, lanesBlockType, endDt
        )
        VALUES
        (
            #{roadtype}, #{event_type}, #{eventDetailType}, #{startDt}, #{roadname}, #{roadDrcType}, #{lanesBlockType}, #{endDt}
        )

    </insert>

    <insert id="insertRoadRiskIndex">
        INSERT INTO roadriskindex
        (
            road_index, line_string, anals_value, anals_grd, highway, highway_section
        )
        VALUES
        (
            #{road_index}, #{line_string}, #{anals_value}, #{anals_grd}, #{highway}, #{highway_section}
        )

    </insert>
</mapper>