<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.CarAccident.mapper.CarRegionalMapper">
     <select id="selectSidoInfo" resultType="com.CarAccident.vo.RegionalInfoVO">
        select region_sido, 
            sum(region_slightly) as region_slightly,
            sum(region_injured) as region_injured,
            sum(region_death) as region_death,
            sum(region_seriously) as region_seriously
        from accident_regional
        group by region_sido;
    </select>
    <insert id="insertRealTrafficInfo">
        INSERT INTO real_traffic
        (
            start_hour, routeName, traffic_volume, shareRatio, conzoneName, stdDate, speed, timeAvg
        )
        VALUES
        (
            #{start_hour}, #{routeName}, #{traffic_volume}, #{shareRatio}, #{conzoneName}, #{stdDate}, #{speed}, #{timeAvg}
        )
    </insert>
    <select id="selectRealTrafficInfo" resultType="com.CarAccident.vo.RealTrafficVO">
        select start_hour, traffic_volume, conzoneName from real_traffic
        where start_hour like #{time} and 
            <![CDATA[
            date_format(stdDate , "%Y-%m-%d") <= str_to_date(#{date},"%Y-%m-%d")
            and 
            date_format(stdDate , "%Y-%m-%d") >  date_sub(str_to_date(#{date},"%Y-%m-%d"), interval 5 day)
            ]]>
        group by conzoneName order by start_hour desc
    </select>
    <select id ="selectOption"  resultType="com.CarAccident.vo.RealTrafficVO">
        select #{name}, conzoneName from real_traffic
        group by conzoneName
    </select>


    <select id="selectSections" resultType="com.CarAccident.vo.RealTrafficVO">
        select distinct routeName like #{name} and conzoneName like #{specificname} from real_traffic
    </select>
    <insert id="insertCarSection">
        INSERT INTO accident_section
        (
            road_type, eventType, eventDetailType, startDate, roadName, roadDrcType, lanesBlockType, endDt
        )
        VALUES
        (
            #{road_type}, #{eventType}, #{eventDetailType}, #{startDate}, #{roadName}, #{roadDrcType}, #{lanesBlockType}, #{endDt}
        )

    </insert>

    <select id="selectRealConstrutionInfo" resultType="com.CarAccident.vo.CarSectionVO">
        select * from accident_section
        where date_format(startDate , "%Y-%m-%d") >= str_to_date(#{date}, "%Y-%m-%d")
    </select>

    <insert id="insertRoadRiskIndex">
        INSERT INTO roadriskindex
        (
            road_index, line_string, anals_value, anals_grd, highway, highway_section
        )
        VALUES
        (
             #{road_index}, #{line_string}, #{anals_value}, #{anals_grd}, #{highway}, #{highway_section}
        )

    </insert>

</mapper>