<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.CarAccident.mapper.Section_SeniorMapper">
<insert id = "insertSenior">
    INSERT INTO section_senior
    (
        sido_sgg_nm, spot_nm, occrrnc_cnt, lo_crd, la_crd
    )
    VALUES
    (
        #{sido_sgg_nm}, #{spot_nm}, #{occrrnc_cnt}, #{lo_crd}, #{la_crd}
    )
</insert>
<select id="selectSeniorRegionBunch" resultType="com.CarAccident.vo.Section_SeniorVO">
       select * from (
        select *,
        case
            when sido_sgg_nm like '%서울특별시%' then '서울특별시'
            when sido_sgg_nm like '%부산광역시%' then '부산광역시'
            when sido_sgg_nm like '%대구광역시%' then '대구광역시'
            when sido_sgg_nm like '%광주광역시%' then '광주광역시'
            when sido_sgg_nm like '%대전광역시%' then '대전광역시'
            when sido_sgg_nm like '%울산광역시%' then '울산광역시'
            when sido_sgg_nm like '%세종특별자치시%' then '세종특별자치시'
            when sido_sgg_nm like '%경기도%' then '경기도'
            when sido_sgg_nm like '%강원도%' then '강원도'
            when sido_sgg_nm like '%충청북도%' then '충청북도'
            when sido_sgg_nm like '%충청남도%' then '충청남도'
            when sido_sgg_nm like '%전라북도%' then '전라북도'
            when sido_sgg_nm like '%전라남도%' then '전라남도'
            when sido_sgg_nm like '%경상북도%' then '경상북도'
            when sido_sgg_nm like '%경상남도%' then '경상남도'
        end as region
        from section_senior
    ) a
    where region like #{region}

</select>
<select id="selectSeniorRegionName" resultType="java.lang.String">
     select distinct region from (
        select case
            when sido_sgg_nm like '%서울%' then '서울특별시'
            when sido_sgg_nm like '%부산%' then '부산광역시'
            when sido_sgg_nm like '%대구%' then '대구광역시'
            when sido_sgg_nm like '%인천%' then '인천광역시'
            when sido_sgg_nm like '%광주%' then '광주광역시'
            when sido_sgg_nm like '%대전%' then '대전광역시'
            when sido_sgg_nm like '%울산%' then '울산광역시'
            when sido_sgg_nm like '%세종%' then '세종특별자치시'
            when sido_sgg_nm like '%경기%' then '경기도'
            when sido_sgg_nm like '%강원%' then '강원도'
            when sido_sgg_nm like '%충청북%' then '충청북도'
            when sido_sgg_nm like '%충청남%' then '충청남도'
            when sido_sgg_nm like '%전라북%' then '전라북도'
            when sido_sgg_nm like '%전라남%' then '전라남도'
            when sido_sgg_nm like '%경상북%' then '경상북도'
            when sido_sgg_nm like '%경상남%' then '경상남도'
            when sido_sgg_nm like '%제주%' then '제주특별자치시'
        end as region
        from section_senior
    ) a
</select>

<select id="getSeniorSigunguNames" resultType="java.lang.String">
    select substring_index(sigungu, " ", -1) as sigungu from (
        select
            distinct substring_index(spot_nm, " ", 2) as sigungu
        from section_senior
        where spot_nm like #{spot}
    ) a
</select>

<select id="selectAddressSenior" resultType="com.CarAccident.vo.Section_SeniorVO">
    select * from(
	    select distinct 
            spot_nm, occrrnc_cnt, lo_crd, la_crd, substring_index(spot_nm, " ", 2) as selectbox 
        from section_senior
    )a
    where spot_nm like #{selectbox}
</select>
</mapper>